.forecasts-panel {
  width: 60%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 50px 50px 70px;
  box-sizing: border-box;
  justify-content: space-between;
}

.forecasts-panel .loader {
  text-align: center;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.city-details {
  display: flex;
  align-items: center;
}

.city-name div:first-child {
  margin-bottom: 10px;
}

.city-name {
  font-size: 18px;
}

.weather-icon {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.headline {
  text-align: center;
  font-size: 30px;
}

.weather-forecasts {
  display: flex;
  justify-content: space-between;
}

.MuiCircularProgress-root {
  align-self: center;
}

.favorites .MuiIconButton-root {
  padding: 0;
}
.favorites .favorites-icon {
  font-size: 45px;
  color: #E74C3C;
}

@media screen and (max-width: 1440px) {
  .forecasts-panel {
    width: 70%;
  }

  .headline {
    font-size: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .forecasts-panel {
    width: 85%;
  }

  .headline {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .forecasts-panel {
    height: 55vh;
    width: 98%;
    padding: 50px 40px 70px;
  }
}

@media screen and (max-width: 600px) {
  .MuiPaper-outlined.forecasts-panel {
    border: 0;
    height: unset;
  }
  .city-details {
    margin-right: 60px;
  }
  .top-row {
    justify-content: center;
  }
  .top-row, .headline {
    margin-bottom: 60px;
  } 
  .headline {
    font-size: 26px;
  }
  .city-name {
    font-size: 20px;
  } 
  .weather-forecasts {
    flex-direction: column;
    align-items: center;
  }
}
