.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-input {
  width: 25%;
}
.home-page .MuiSnackbar-root {
  top: 140px
}
.home-page .MuiAlert-root {
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
  .search-input {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .search-input {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .search-input {
    width: 60%;
  }
}
